::-webkit-scrollbar {
    width: 8px;
    background-color: #5d595933;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

.app {
    background-color: #f3f2ef;
    min-height: 100vh;
}

.app__body {
    position: relative;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
    max-width: 1200px;
}

.noscroll {
    overflow: hidden;
}

@media only screen and (max-width: 1080px) {
    .app__body .widgets {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    .app__body .sidebar {
        display: none;
    }
}

.loading {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}